 @import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap");

 :root {
     --primary-color: #1B98E0;
     --secondary-color: #59c3c3;
     --text-dark: #333;
     --text-light: #ebebeb;
     --primary-font: Arial, Helvetica, sans-serif;
     --secondary-font: "Amatic SC", sans-serif;
 }

header {
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 5px;
    align-items: center;
}

#recipe-book {
    width: 80.8px;
    height: 80.8px;
}

h1 {
    font-family: var(--secondary-font);
    font-size: 4em;
}

.tag-row {
    margin-top: 10px;
}

#search {
    display: flex;
    margin: 20px;
    margin-top: -30px;
    /*border: 1px solid black;*/
    border-radius: 3px;
}

#search input {
    width: 100%;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 1px black;
}

#search button img {
    width: 20px;
    height: 20px;
    /* border-radius: 5px;*/
}

#search button {
    background: white;
    border: solid 1px black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.recipe {
    border: solid 1px black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    margin-bottom: 5px;
    font-size: 2em;
}

#apple-crisp {
    height: auto;
    width: auto;
    max-width: 100%;
}

.rating {
    margin-bottom: 30px;
}


footer {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.social {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

a[title="recipe icons"] {
    align-content: center;
}



@media screen and (min-width: 600px) {
    .recipe {
        flex-direction: row;
    }

    .picture-info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    #apple-crisp {
        width: 50%;
        height: auto;
    }

}


@media (min-width: 960px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .social {
        justify-content: flex-end;
    }
    
    a[title="recipe icons"] {
        text-align: left;
    }
}