/*Colors and Fonts
Gold color: #EFC69B 
Red color: #AF1B3F 
Dark color: #473144 
Body font: Helvetica, Arial, sans-serif 
Headline font: Lora, Impact, serif
*/


h1 {
    font-family: Lora, Impact, Serif;
    color: #273144;
    text-align: center;
    padding: 20px;
}


nav {
    text-decoration: none;
}


nav ul {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 40px;
    text-align: right;
    justify-content: end;
    justify-items: end;
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    border-top: 1px solid #AF1B3F;
    border-bottom: 1px solid #AF1B3F;
}

nav li {
    padding-right: 70px;
}


nav a {
    text-decoration: none;
    color: #AF1B3F;
}

img {
    margin: 10px;
    margin-left: 30px;
}


main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
}

.items {
    padding: 10px;
}


article {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


h2 {
    color: #AF1B3F;
}


p {
    font-family: Helvetica, Arial, sans-serif;
}

.Filter p {
    text-align: center;
}



